
body { 
  background-image: url(/static/images/fondo-estadio1.jpg);
  background-size: cover;

  
}
.category-primary-link {
	 color: #e2e2e2;
}
.top-page {
	 background-color: #2D2523;
	 height: 13%;
	 display:flex;
  flex-wrap:nowrap;
  justify-content:space-around;
  align-items:center;
    
}
.navigation-var {
	 flex-grow:10;
	 font-family: 'Annie Use Your Telescope';
	 font-size: 24px;
	 color: #e2e2e2;
}
.navigation-var-box{
	display:flex;
	flex-wrap:nowrap;
  justify-content:space-around;
  align-items:center;
	
}
.categories {
	position:relative;
}
ul{ 
  list-style-type: none;
  list-style-position: outside;
}
a.nav{


}
.cat{


margin: 5px;
padding: 5px;
}
.cat .cat{
border: 1px solid #e2e2e2;
background-color: #ffe8e8;
margin: 4px;
padding: 4px;
color: #2d2523;
}

.categories-secondary{
	display:none;
}
.categories:hover  .categories-secondary{
 display:block;
 font-size:16px;
 position:absolute;
 top:100%;
 transform: translateX(-35%);
}
.categories:hover {
color: #420000;
}
a.category-primary-link:hover {
	color: #ffe8e8;
}
a.category-secondary-link:hover {
	color: #2a0000;
}
a{
	color: #2d2523;
}
.logo {
flex-grow:3;
}
.page-body {
	display:flex;
}
.categories:hover ul{

}
.first {
	width:10%;
	height: 100%;
}
.second {
	width:80%;
	background-color: #e2e2e2;
	height:100%;
}
.third {
	width:10%;
	height: 100%;
}
img {
padding:10px;
flex-shrink: 20;
}
@media all and (max-height: 680px) {
     img{
        max-height: 85px;
    }
.logo a{
	padding:10px;
}