{% load staticfiles %}
<html>
<head>
    <title>Peña Madrilista Villanovense</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/madrid4.css' %}">
</head>
<body>
        <div class="top-page">
            <a href="/"><img src="{% static 'images/logo.png' %}" alt="logo"/></a>
            <nav class="navigation-var">
                <ul class="navigation-var-box">
                    <li class="categories cat">
                        <a href="" class="category-primary-link nav">¿Quienes Somos?
                        </a>
                        <ul class="categories-secondary">
                            <li class="category-secondary cat">
                                <a href="" class="category-secondary-link nav">Club
                                </a>
                            </li>
                            <li class="category-secondary cat">
                                <a href="" class="category-secondary-link nav">Miembros
                                </a>
                            </li>
                            <li class="category-secondary cat">
                                <a href="" class="category-secondary-link nav">Presidente
                                </a>
                            </li>
                        </ul>
                     </li>
                     <li class="categories cat">
                        <a href="" class="category-primary-link nav">Donde Encontrarnos
                        </a>
                        <ul class="categories-secondary">
                            <li class="category-secondary cat">
                                <a href="" class="category-secondary-link nav">Villanueva
                                </a>
                            </li>
                            <li class="category-secondary cat">
                                <a href="" class="category-secondary-link nav">Don Benito
                                </a>
                            </li>
                        </ul>
                     </li>
                    <li class="categories cat">
                        <a class="category-primary-link nav">Ultimas noticias
                        </a>
                        <ul class="categories-secondary">
                            <li class="category-secondary cat">
                                <a href="/Comidas" class="category-secondary-link nav">Comidas
                                </a>
                            </li>
                            <li class="category-secondary cat">
                                <a href="" class="category-secondary-link nav">Partidos
                                </a>
                            </li>
                            <li class="category-secondary cat">
                                <a href="" class="category-secondary-link nav">Party
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="categories cat">
                        <a href="" class="category-primary-link nav">¡Unete al club!
                        </a>
                        <ul class="categories-secondary">
                            <li class="category-secondary cat">
                                <a href="" class="category-secondary-link nav">Precios
                                </a>
                            </li>
                            <li class="category-secondary cat">
                                <a href="" class="category-secondary-link nav">Descuentos
                                </a>
                            </li>
                            <li class="category-secondary cat">
                                <a href="" class="category-secondary-link nav">Acholismo
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

<div class="page-body">
    <div class="column first first-column">
    <a href="" class="category-secon-link nav">Acholismo
                                </a>
    </div>
    <div class="column second second-column">
 <a href="" class="category-secon-link nav">Acholismo
                                </a>
    </div>
    <div class="column third third-column">
 <a href="" class="category-secon-link nav">Acholismo
                                </a>
    </div>
</div>





























</body>
</html>