{% load staticfiles %}
<html>
<head>
    <title>Peña Madrilista Villanovense</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/madrid4.css' %}">
</head>
<body>
        <div class="top-page">
            <a href="/"><img src="{% static 'images/logo.png' %}" alt="logo"/></a>
            <nav class="navigation-var">
                <ul class="navigation-var-box">
                    <li class="categories cat">
                        <a class="category-primary-link nav">¿Quienes Somos?
                        </a>
                        <ul class="categories-secondary">
                            <li class="category-secondary cat">
                                <a href="/club" class="category-secondary-link nav">Club
                                </a>
                            </li>
                            <li class="category-secondary cat">
                                <a href="/mienbros" class="category-secondary-link nav">Miembros
                                </a>
                            </li>
                            <li class="category-secondary cat">
                                <a href="/presidente" class="category-secondary-link nav">Presidente
                                </a>
                            </li>
                        </ul>
                     </li>
                     <li class="categories cat">
                        <a  class="category-primary-link nav">Donde Encontrarnos
                        </a>
                        <ul class="categories-secondary">
                            <li class="category-secondary cat">
                                <a href="/villanueva" class="category-secondary-link nav">Villanueva
                                </a>
                            </li>
                            <li class="category-secondary cat">
                                <a href="/don-benito" class="category-secondary-link nav">Don Benito
                                </a>
                            </li>
                        </ul>
                     </li>
                    <li class="categories cat">
                        <a class="category-primary-link nav">Ultimas noticias
                        </a>
                        <ul class="categories-secondary">
                            <li class="category-secondary cat">
                                <a href="/Comidas" class="category-secondary-link nav">Comidas
                                </a>
                            </li>
                            <li class="category-secondary cat">
                                <a href="/partidos" class="category-secondary-link nav">Partidos
                                </a>
                            </li>
                            <li class="category-secondary cat">
                                <a href="/party" class="category-secondary-link nav">Party
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="categories cat">
                        <a class="category-primary-link nav">¡Unete al club!
                        </a>
                        <ul class="categories-secondary">
                            <li class="category-secondary cat">
                                <a href="/precios" class="category-secondary-link nav">Precios
                                </a>
                            </li>
                            <li class="category-secondary cat">
                                <a href="/descuentos" class="category-secondary-link nav">Descuentos
                                </a>
                            </li>
                            <li class="category-secondary cat">
                                <a href="/alcholismo" class="category-secondary-link nav">Acholismo
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

<div class="page-body">
    <div class="column first first-column">
    {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
    {% endif %}
    </div>
    <div class="column second second-column">
    {% block content %}
    {% endblock %}
        </div>
    <div class="column third third-column">
    </div>
</div>





























</body>
</html>